## Sample config file.
## Note 1: The commandline args take precedence.
## Note 2: Multi-arg options do not merge.


## Target image size
## (Not ussed)
# image-width=400
# image-height=300
# image-size=400x300


## Input images.
## Note that we only support 
## foreground-image-file + background-image-file
## foreground-image-folder + background-image-file
## foreground-image-file + background-image-folder.
## But, not foreground-image-folder + background-image-folder

## Image files
## Note that the foreground image should have alpha channel. Otherwise it will simply overwrite the bg image.
## (TBD: Allow blending weight?)
foreground-image-file=../../sample-data/lena.jpg
background-image-file=../../sample-data/fish.jpg

## Input image folders
foreground-image-folder=../../foreground-images
background-image-folder=../../background-images


## Output image folder
## Note: the default file name is fg file name + bg file name.
output-image-folder=../../output-images


## Output image type
## jpg, png, etc.
## By default, the output is the same type as the foreground image.
# output-image-type=png

